/* BASIC STYLES HERE */
body{
height: 100vh;
}

.background-image{
  background-size: cover;
}

.tasks-body{
  height: 10rem;

  overflow-y: auto;
}

.checked{
  text-decoration: line-through;
  color: red;
}

.clock-row{
  height: 40vh
}

.clock-text{
  font-size: 100px;
}




